REACT_APP_SUPABASE_URL=https://<something>.supabase.co
REACT_APP_SUPABASE_KEY=very_secret_key
REACT_APP_TAWA_URL=http://localhost:8080
REACT_APP_TOKEN_REFRESH_URL=https://example.com/spotify/auth/refresh
REACT_APP_APPWRITE_URL=https://api.example.com/v1
REACT_APP_APPWRITE_PROJECT=kokopelli-dev
REACT_APP_APPWRITE_REALTIME=wss://api.example.com/v1/realtime